@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #333333;
    color: #ffffff;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-top: 25px;
}

header {
    position: sticky;
    top: 0;
    height: 7.5vh;
    width: 100%;
    background-image: url(../images/matrix.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

header p {
    flex: 1;
    margin-left: 10px;
    height: fit-content;
}

header nav {
    flex: 0 1 1;
    font-size: 0;
    height: 100%;
}

nav img {
    height: 100%;
    margin-right: 10px;
}

h1 {
    background-color: #000000;
    color: #00fc3c;
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    background-color: #000000;
    color: #00fc3c;
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
    font-size: 1.25em;
    margin-top: 10px;
}

aside, main {
    padding: 10px;
    background-color: #222222;
}

aside {
    flex: 1 1 22%;
    height: 100%;
    margin-right: 1vw;
}

aside a {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid transparent;
}

aside a:hover {
    text-decoration: underline;
    color: #00fc3c;
    border: 2px solid #00fc3c;
}

aside img {
    width: 100%;
}

aside figcaption {
    text-align: right;
}

main {
    flex: 1 1 70%;
}

main article {
    margin-bottom: 20px;
}

main article:last-of-type {
    margin-bottom: 0;
}

main article ul {
    list-style-type: "> ";
    list-style-position: inside;
}


main .WakaTimeEmbedded {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.WakaTimeEmbedded figure {
    background-color: #111111;
    width: 45%;
}

.WakaTimeEmbedded figcaption {
    padding-top: 5px;
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutMe h1 {
    width: 100%;
}

.aboutMe div {
    flex: 1;
}

.aboutMe div:last-of-type {
    flex-basis: 100%;
}

.aboutMe figure {
    margin-left: 20px;
}

.aboutMe div img {
    max-width: 25%;
}

.aboutMe table {
    width: 50%;
    table-layout: fixed;
}

.aboutMe td {
    padding: 5px;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer p {
    color: #8f8f8f;
}

@media screen and (max-width: 999px) {
    section {
        flex-direction: column-reverse;
    }

    header p {
        font-size: 4em;
        margin-left: 20px;
    }

    header nav {
        height: 50%;
    }

    aside {
        margin: 0;
    }

    main {
        margin-bottom: 1vh;
    }
}